:root {
  --main-color: #f7b617;
  --dark-grey: #1b1b1b;
  --footer-grey: #2b2b2b;
}

body {
  font-family: 'Lato', sans-serif;
}

figure img {
  width: 100%;
}

p {
  font-size: 1.25em;
}

/* Rewrite styles */
.navbar {
  background-color: #fff;
  margin: 0;
}

.navbar-brand {
  width: 210px;
  height: auto;
  text-align: center;
  padding: 40px;
}

.navbar-brand img {
  width: 100%;
}

.navbar-default .navbar-nav li a {
  color: var(--dark-grey);
  font-size: 1.15em;
}

.navbar-default .navbar-nav li a:hover {
  color: var(--main-color);
  font-size: 1.15em;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 0;
}

.btn {
  display: block;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 1.25em;
}

.btn-default {
  color: var(--dark-grey);
}

.btn-secondary {
  background-color: var(--main-color);
  color: #fff;
}

.form-group {
  margin-bottom: 30px;
}

/* Helpers */
.section-call {
  padding: 40px;
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: var(--main-color);
  color: #fff;
}

.border-white {
  border: 1px solid #fff;
}

.text-white {
  color: #fff;
}

.padding-40 {
  padding: 40px 15px;  
}

.inline-logo {
  display: inline-block;
  width: 70px;
  margin: 0 15px;
}

.logo-footer {
  display: inline-block;
  width: 130px;
  margin-top: 12px;
}

.m-0 {
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-200 {
  margin-bottom: 200px;
}

.pad-40 {
  padding: 40px;
}

.pad-40-v {
  padding-top: 40px;
  padding-bottom: 40px;
}

.relative {
  position: relative;
}

/* Site styles */
section:nth-child(2n) {
  background-color: var(--main-color);
}

#section-1 {
  background-image: url('../assets/images/taxi.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

hr {
  border: none;
  height: .5px;
  background-color: #fff;
}

.separate-buttons::before {
  content: "O bien";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -40px;
  background-color: var(--main-color);
  padding: 15px 30px;

}

#section-3 {
  background-image: url('../assets/images/conduce.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#section-3 article {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

#section-3 article button {
  margin-bottom: 160px;
}

footer {
  background-color: var(--dark-grey);
}

@media (min-width: 768px) {
  .navbar-nav {
    position: absolute;
    top: 50%;
    right: 8.333333%;
    transform: translateY(-50%);
  }

  .nav li a {
    padding: 10px 30px;
  }

  .inline-logo {
    width: 95px;
    margin: 0 20px;
  }

  #section-2 {
    padding-left: 0;
  }

  #section-2 article {
    border-left: 0;
    display: flex;
    align-items: center;
  }

  #section-2 figure {
    vertical-align: center;
  }

  #section-2 p {
    font-size: 1.55em;
  }

  .logo-footer {
    margin-top: 80px;
  }
}