/* Los estilos de tu proyecto */
:root {
  --main-color: #f7b617;
}

body {
  font-family: 'Lato', sans-serif;
}

/* Site styles */
#section-1 {
  background-image: url('../assets/images/taxi.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Rewrite styles */
.navbar {
  background-color: #ffffff;
  margin: 0;
}

.navbar-brand {
  width: 210px;
  height: auto;
  text-align: center;
  padding: 40px;
}

.navbar-brand img {
  width: 100%;
}

[class*='h'] {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 0;
}

/* Helpers */
.text-uppercase {
  text-transform: uppercase;
}

.section-call {
  padding: 40px;
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: var(--main-color);
  color: #fff;
}

@media (min-width: 768px) {


  .navbar-nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}